{% extends "base.html" %}
{% block content %}
    <div class="row intro">
    <div class="container">
    <h1>Music</h1>
        </div>
    </div>
    <div class="container">
    <div class="row">
        <div class="col-md-12 text-justify">
            <h2>Must haves</h2>
            <p>
                Have a quick look below and purchase your favourite music.
            </p>
            <p> They will help you relex and unwind. It is great thing to share with friends, and can be played for special occasions.</p>
            <p> All products come with 1 month warranty.</p><hr>
            <hr>
        </div>

    </div>
    </div>
    <div class="container table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Single/Album</th>
                <th>Price</th>
                <th>Purchase</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
                <tr>
                    <td>{{ product.name }}</td>
                    <td>{{ product.description }}</td>
                    <td>€ {{ product.price }}</td>
                    <td>{{ product.paypal_form.sandbox }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
{% endblock %}