{% extends 'base.html' %}



{% block content %}
    <link rel="stylesheet" href="static/custom.css" />
<script type="text/javascript" src="/static/js/custom.js"></script>
<button>
<div class="row intro">

<div class="container">

    <h1>About us</h1>

</div>

</div>

<div class="container text-justify" id="about">

    <div class="row">

        <div class="col-md-4">

            <h2>Welcome </h2> <i class="fa fa-dot-circle-o"></i>

            <p>This is a selection of inspirational people, people who have made a lasting contribution towards creating a better world. These people have inspired others by their various achievements, but also by their attitude and values. </p>

            <p>Feel free to listen to your favourite artists online, join our forums and find out the most popular music in time. If you enoy it that much, you can purchase a copy. You can also chat with your fellow embers to discuss your favourite music and make friends. You just have to complete our registration form online to join.</p>
        </div>
        <div class="col-md-4">
            <h2>The Idea</h2> <i class="fa fa-lightbulb-o"></i>
            <p>
                When a social entrepreneur comes up with a great new solution to a particular social problem,
                we believe that those individuals should get the funding and support that they need to scale and grow,
                ultimately impacting as many people as possible, as quickly as possible.
            </p>
        </div>
        <div class="col-md-4">
            <h2>The Charts</h2> <i class="fa fa-bullseye"></i>
            <p>Since 1952, the UK official charts began with Al Martino at Number 1 with Here in my Heart, investing more than €1.26
                million in their projects, as well as providing significant training and mentoring supports. The chart started out at top 12 at that time. In 1964 Top of The Pops started live and was on until 2004. </p></button>
        </div>
    </div>
<p></p>
</div>



{% endblock %}