{% extends "base.html" %}
{% load bootstrap_tags %}
{% block content %}

    <div class="row intro">
    <div class="container">
<h1>Your Profile</h1>
        </div>
</div>

<div class="container text-justify">
    <div class="row">
        <div class="col-md-12">
    <h2> Welcome {{ user.first_name }}!</h2>
    <p> You are logged in as <strong>{{ user.email }}</strong> </p>
            </div>
    </div>
    <div class="row">
        <div class="col-md-6">
    <p> Your last login was on {{ user.last_login }}</p>
            </div>
    </div>
    {% if user.stripe_id %}
    <div class="row">
        <div class="col-md-6">
            <p> Your stripe id is {{ user.stripe_id }}</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <p> You have paid € 4.99 through Stripe to join our website. Thank you!<br> Now fire away those ideas in our forum.</p>
        </div>
    </div>
    {% endif %}

</div>
{% endblock %}